<h2>{{@title}}</h2>

<ul>
  {{#each @people as |person|}}
    <li>
    {{!-- <button type="button">{{person}}</button> --}}
    {{!-- <button type="button" {{on 'click' this.showPerson}}>{{person}}</button> --}}
    {{!-- bug because we created our js function to take an argument and we didn't pass it. --}}
    <button type="button" {{on 'click' (fn this.showPerson person)}}>{{person}}</button>
    </li>
  {{/each}}
</ul>
